<h1> My Tiny App project </h1>

<% if(user) { %>
  <form method="POST" action="/logout">
    <p> <b><%= user.email %></b> </p>
    <input type="submit" value="Logout"><br>
    <br>
    <a href="/urls/new">Create a New Short Link</a>
  </form>

<% } else { %>
  <a href="/login"> Login </a> || 
  <a href="/register"> Register </a>
<% } %>









