<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
  <h1> Welcome to my Tiny App!</h1>
</header>

<body>
  <p> You need to <a href="/register">Register</a> or <a href="/login">Login</a> in order to continue.</p>

</body>
</html>