<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
  <h1> My Tiny App project </h1>
</header>

<body>
  <form method="POST" action="/register"> 
    Email address: <input type="email" name="email"> 
    Password: <input type="password" name="password">
    <input type="submit" value="Submit">
  </form> 

</body>
</html>