<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <ul>
      <li> Full URL: http://www.lighthouselabs.ca , Shortened form: b2xVn2 </li>
      <li> Full URL: ttp://www.google.com , Shortened form: 9sm5xK </li>
    </ul>
</body>
</html>