<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
  <% include ./partials/_header %>
  <h2> ShortURL: <b> <%= shortURL %> </b> </h2>
</header>
<body>
      <form method="POST" action="/urls/<%= shortURL %>"> 
        <input type="text" name="longURL" value="<%= fullURL %>"> 
        <input type="submit" value="Update">
          
      </form>
</body>
</html>